@import "./utils/fonts";
@import "./utils/variables";
@import "./utils/base";
@import "./utils/container";
@import "./components/texts";
@import "./components/section";
@import "./components/coursel";
@import "./components/images-overlay";
@import "./components/animations";
@import "./components/why_we";
@import "./components/our_pocedures";
@import "./components/modal";
@import "./components/pagination";
@import "./utils/mixins";
@import "./components/input";
@import "./components/form-terms";

@import "./utils/utils";
@import "./components/buttons";
@import "./loyalts/header";
@import "./loyalts/mobile-menu";
@import "./loyalts/hero-section";
@import "./loyalts/about_us-section";
@import "./loyalts/why_do_we-section";
@import "./loyalts/our_procedures-section";
@import "./loyalts/contact-section";
@import "./loyalts/footer";
