:root {
  --color-brand-dark: #011c44;
  --color-brand-dark_blue: #000080;
  --color-brand-light: #fff;
  --color-primary-blue: #2b7fff;
  --color-secondary-light: #4a4a4a;
  --color-secondary-grey: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
