.footer {
  position: relative;
  text-align: center;
  padding: 56px 0 120px 0;
  background-color: var(--color-brand-dark);
  background-image: url(../images/background_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $bp-tablet) {
    text-align: left;
    padding: 56px 0 120px 0;
  }

  &::after {
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 225px;
      height: 125px;
      background-image: url(../images/liki.png);
      background-repeat: no-repeat;
      content: "";
    }
  }
  &__ccontainer {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__adress {
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
      gap: 20px;
    }
  }
  &__logo {
    flex-grow: 1;
    margin: 0 auto;
    @media screen and (min-width: $bp-tablet) {
    }
  }
  &__menu {
    flex-grow: 1;
  }
  &__adress-list {
    flex-grow: 1;
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__icons {
    gap: 24px;
    display: flex;
    padding-top: 46px;
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      top: 178px;
      padding-top: 16px;
    }
  }

  &__link {
    color: var(--color-brand-light);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
    padding-bottom: 16px;
    width: 178px;
    @media screen and (min-width: $bp-tablet) {
      font-weight: 400;
      font-size: 16px;
      width: 203px;
    }

    &:hover {
      color: var(--color-primary-blue);
      text-decoration: none;
    }
  }
  &__politic {
    position: absolute;
    top: 290px;
    font-weight: 400;
    font-size: 14px;
    width: 178px;

    @media screen and (min-width: $bp-tablet) {
      position: initial;
      display: block;
      width: 203px;
    }
  }
  &__copirght {
    color: var(--color-secondary-grey);
    font-weight: 400;
    font-size: 13px;
  }
}
