.footer {
  position: relative;
  text-align: center;
  padding: 56px 0;
  background-color: var(--color-brand-dark);
  background-image: url(../images/background_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $bp-tablet) {
    text-align: left;
  }

  &::after {
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 250px;
      height: 150px;
      background-image: url(../images/liki.png);
      background-repeat: no-repeat;
      content: "";
    }
  }
  &__ccontainer {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__adress {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
    }
  }
  &__logo {
    flex-grow: 1;
    margin: 0 auto;
    @media screen and (min-width: $bp-tablet) {
    }
  }
  &__menu {
    flex-grow: 1;
  }
  &__adress-list {
    flex-grow: 1;
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
  &__adress-info {
    flex-grow: 1;
  }
  &__icons {
    gap: 24px;
    display: flex;
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      top: 180px;
      bottom: 50px;
    }
  }

  &__link {
    color: var(--color-brand-light);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: var(--color-primary-blue);
      text-decoration: none;
    }
  }
  &__politic {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
  &__copirght {
    color: var(--color-secondary-grey);
    font-weight: 400;
    font-size: 13px;
  }
}
