.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    padding: 32px 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  &__logo {
    margin: 1px 0 auto;
    padding: 17px 0 0 19px;
  }

  &__menu {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      margin-left: 36px;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }
  &__link {
    color: var(--color-brand-dark);
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: var(--color-primary-blue);
      text-decoration: none;
    }
  }

  &__adress {
    display: none;
    font-style: normal;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  &__burger {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    fill: var(--color-brand-light);
    padding: 0;
    margin: 1px 24px 17px auto;
    align-items: end;
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
