.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding-top: 16px;
    @media screen and (min-width: $bp-desktop) {
      padding-top: 32px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    margin: 1px 0 auto;
    padding: 17px 0 0 19px;
    @media screen and (min-width: $bp-desktop) {
      padding: 32px 0 0 99px;
    }
  }
  &__menu {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      padding-top: 32px;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }
  &__link {
    color: var(--color-brand-dark);
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: var(--color-primary-blue);
      text-decoration: none;
    }
  }

  &__adress {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      max-width: 160px;
      margin: 32px auto;
      padding-top: 32px;
      display: flex;
      justify-content: end;
      align-items: end;
      gap: 32px;
    }
  }
  &__burger {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    fill: var(--color-brand-light);
    padding: 0;
    margin: 1px 16px 17px auto;
    align-items: end;
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
