.hero-section {
  padding: 16px 0 23px;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 0 110px;
  }

  &__image {
    padding-top: 1px;
    background-image: url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-desktop) {
      background-image:
        linear-gradient(
          94deg,
          #fff 9.65%,
          rgba(255, 255, 255, 0.85) 26.08%,
          rgba(255, 255, 255, 0.19) 52.74%,
          rgba(255, 255, 255, 0) 74.46%
        ),
        url("../images/hero.jpg");
    }
  }
  &__stick {
    display: block;
    margin: 0 auto;
    padding: 50px 0 0 86px;
    align-items: center;
    color: var(--color-brand-dark);
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 18px;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      margin-left: 34px;
      padding: 158px 24px 0;
      justify-content: start;
    }
  }

  &__title {
    margin: 4px auto 0;
    color: var(--color-primary-blue);
    font-family: "Play", sans-serif;
    text-transform: capitalize;
    font-size: 54px;
    font-weight: 700;
    line-height: 0.85;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      color: var(--color-brand-dark_blue);
      margin: 16px 0 40px 53px;
      font-size: 140px;
      width: 529px;
      text-align: start;
    }
  }
  &__button-container {
    margin-top: 24px;
  }
  &__button {
    display: block;
    border-radius: 32px;
    margin: 0 auto;
    width: 220px;
    height: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-brand-light);
    background-color: var(--color-primary-blue);
    cursor: pointer;
    @media screen and (min-width: $bp-tablet) {
      margin: 0 0 14px 50px;
    }

    &:hover {
      color: black;
      background-color: transparent;
    }
  }
  &__contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 36px;
    font-size: 12px;
    line-height: 150%;
    padding: 8px 0 0;
    color: var(--color-secondary-grey);
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      margin: 0 0 40px 68px;
      padding: 0;

      color: var(--color-secondary-light);
    }
  }
}
