.hero-section {
  padding: 16px 0 335px;

  &__image {
    padding-top: 1px;
    background-image: url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-desktop) {
      background-image: linear-gradient(
          94deg,
          #fff 9.65%,
          rgba(255, 255, 255, 0.85) 26.08%,
          rgba(255, 255, 255, 0.19) 52.74%,
          rgba(255, 255, 255, 0) 74.46%
        ),
        url("../images/hero.jpg");
    }
  }
  &__stick {
    display: flex;
    margin: 0 auto;
    padding: 72px 116px 0;
    align-items: center;
    justify-content: center;
    color: var(--color-brand-dark);
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 18px;

    @media screen and (min-width: $bp-mobile) {
      display: block;
      padding: 158px 0 0;
      margin: 2px 85px 0;
    }
  }

  &__title {
    margin: 4px auto 0;

    max-width: 319px;
    height: 64px;
    color: var(--color-primary-blue);
    font-family: "Play", sans-serif;
    text-transform: capitalize;
    font-size: 54px;
    font-weight: 700;
    line-height: 1%;
    text-transform: capitalize;

    @media screen and (min-width: $bp-tablet) {
      color: var(--color-brand-dark_blue);
      margin: 16px 0 0 106px;
      font-size: 140px;
      max-width: 529px;
      line-height: 81%;
      padding-bottom: 143px;
    }
  }
  &__button {
    display: block;
    border-radius: 32px;
    margin: 0 auto;
    width: 220px;
    height: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-brand-light);
    background-color: var(--color-primary-blue);
    cursor: pointer;
    @media screen and (min-width: $bp-tablet) {
      margin: 40px 0 0 106px;
    }

    &:hover {
      color: black;
      background-color: transparent;
    }
  }
  &__contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 36px;
    font-size: 12px;
    line-height: 150%;
    padding: 16px 86px 0;
    color: var(--color-secondary-grey);
    margin: 0 auto;

    @media screen and (min-width: $bp-mobile) {
      display: block;
      margin: 0 auto;
      padding-left: 106px;
      color: var(--color-secondary-light);
    }
  }
}
