.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-light);
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 16px;
    right: 20px;
  }
  &__nav {
    align-items: left;
    flex-grow: 1;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 32px 0 0 28px;
    gap: 16px;
  }
  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-brand-dark);
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: var(--color-primary-blue);
      text-decoration: none;
    }
  }
  &__icons {
    display: flex;
    gap: 16px;
    padding: 32px 0 0 28px;
  }
}
