.our_procedures-section {
  &__hero {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    max-width: 1216px;
    margin: 0 auto 48px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-weight: 700;
      font-size: 64px;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
    justify-content: center;
  }
  &__container {
    overflow: hidden;
  }
  &__list {
    margin-bottom: 32px;
  }
  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
