.why_do_we-section {
  display: block;
  padding: 40px 0;
  background-image: url(../images/background_image3.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media screen and (min-width: $bp-tablet) {
    padding: 176px 0 48px;
    background-image: url(../images/background_image3.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    max-width: 300px;
    text-align: center;
    margin: 52px auto;
    @media screen and (min-width: $bp-tablet) {
      font-weight: 700;
      font-size: 64px;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__choose {
    margin: 0 auto;
    padding: 24px 21px;
    @media screen and (min-width: $bp-tablet) {
      padding: 24px 32px;
      display: flex;
      margin: 48px auto 0;
      gap: 56px;
      max-width: 1060px;
    }
  }

  &__content {
    max-width: 316px;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: var(--color-brand-light);
    border-radius: 24px;
    margin: 8px 21px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
    @media screen and (min-width: $bp-tablet) {
      max-width: 400px;
      width: 100%;
      border: 1px solid #d9d9d9;
      background-color: var(--color-brand-light);
      border-radius: 32px;
      margin-bottom: 8px;
      transition: transform 0.3s;
    }
  }
}
