.star-field {
  position: relative;
  width: 100%;
  height: 652px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image_2 {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url(../images/Star_2.svg);
      transform: rotate(0deg);
      animation: twinkle ease-in-out infinite;
      animation-duration: 4s;
      animation-delay: 0s;
    }
  }
  &__image_1 {
    position: absolute;
    width: 64px;
    height: 64px;
    display: inline-block;
    background-image: url(../images/Star_1.svg);

    @media screen and (min-width: $bp-desktop) {
      transform: rotate(0deg);
      animation: twinkle ease-in-out infinite;
      animation-duration: 4s;
      animation-delay: 0s;
    }
  }

  &__image_3 {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      width: 16px;
      height: 16px;
      display: inline-block;
      background-image: url(../images/Star_3.svg);
      transform: rotate(0deg);
      animation: twinkle ease-in-out infinite;
      animation-duration: 4s;
      animation-delay: 0s;
    }
  }
  &__image_2 {
    top: 10px;
    right: 78px;
    animation-delay: 0s;
  }
  &__image_1 {
    left: 250px;
    bottom: 570px;
    animation-delay: -1s;
    @media screen and (min-width: $bp-desktop) {
      top: 320px;
      left: 144px;
    }
  }
  &__image_3 {
    top: 200px;
    right: 100px;
    animation-delay: -2s;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-6px) scale(1.05) rotate(10deg);
  }
  75% {
    opacity: 1;
    transform: translateY(0) scale(0.98) rotate(-8deg);
  }
  100% {
    opacity: 0;
    transform: translateY(20px) scale(0.8) rotate(0deg);
  }
}
