.button_two {
  display: block;
  margin: 0 auto;
  border-radius: 32px;
  height: 53px;
  font-family: "Roboto", sans-serif;
  color: var(--color-brand-light);
  background-color: var(--color-primary-blue);
  cursor: pointer;
  align-items: center;
  width: 241px;
  @media screen and (min-width: $bp-tablet) {
    width: 281px;
    padding: 16px 32px;
  }
  &:hover {
    color: black;
    background-color: transparent;
  }
}

/* .button_two:disabled {
  color: gray;
  background-color: #747272;
  /* border-color: currentColor - для наслідування кольору */
/* cursor: not-allowed; */
/* значення додаэться до курору щоб зробити його забороненим 
} */
