.courusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;

  &.next {
    transform: rotate(180deg);
  }
  &:hover {
    fill: var(--color-brand-light);
    background-color: var(--color-primary-blue);
  }
}
