.overlay {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 327px;
  height: 307px;
  border-radius: 50%; /* круглі кадри */
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
