.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 20px;
  transition: opacity 0.3s, visibility 0.3s;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  padding: 21px 74px;
  background-color: var(--color-brand-dark);
  background-image: url(../images/background_footer.png);
  color: var(--color-brand-light);
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
    width: 723px;
    height: 681px;
  }
  &__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 42px;
    right: 42px;
  }
  &__field {
    margin: 24px auto;
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-weight: 700;
      font-size: 64px;
    }
  }
  &__text {
    margin: 40px auto;
    max-width: 450px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
  }
}

/* .checkbox {
  position: relative;
}
.checkbox-input {
  appearance: none; /* означаэ не показуэ стандартні настройки браузера 
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-brand-light);
}
.checkbox-label {
  padding-left: 24px;
}
.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-brand-light);
  border-radius: 2px;
  content: "";
} */
