.our_procedures-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 456px;
  padding-top: 24px;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  overflow: hidden;

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: var(--color-brand-light);
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
