.section {
  padding: 20px 0;
  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }
  &__title {
    padding: 96px 0 48px;
    &--centered {
      text-align: center;
    }
  }
}
