.why_we {
  margin: 29px auto 0;
  display: flex;
  justify-content: space-around;

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
    padding: 8px 25px 24px;
  }
}
